html {
  background-color: #121212;
  color: white;
}

a {
  color: rgb(255, 167, 248);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
}

code {
  font-family: "Courier New", Courier, monospace;
}

.inline-list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inline-list li {
  display: block;

  padding-inline-end: 0.5ch;
}

.inline-list li + li {
  border-inline-start: 2px solid white;
  padding-inline-start: 0.5ch;
}

abbr {
  text-decoration: none;
}

.lavender-webring-container {
  font-family: "Inter", sans-serif !important;
}

table {
  width: 100%;
  margin: 1em 0;
}

th,
td {
  text-align: start;
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form button {
  margin-top: 0.5em;
}

table td.clipped {
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30ch;
}
